<ul>
  {{#each model as |item|}}
  <li>
    <h4>{{item.name}}</h4>
    <h5>{{item.type}} - ${{item.price}}</h5>
    <br>
    <p>{{item.details}}</p>
    <br>
    <img src="{{item.image}}" alt="{{item.detail}}" />
  </li>
  <button class="add-item" {{action 'addToCart' item}}>Add to Cart</button>
  {{/each}}
</ul>
